.search{
  display: flex;
  flex-direction: column; /* Lägg elementen vertikalt */
  align-items: center; /* Centrera horisontellt */
  justify-content: center; /* Centrera vertikalt */
  width: 300px;
  margin: auto; /* Centrera horisontellt om det behövs */

}
.input{
  margin-bottom: 20px;  
  width: 100%;
  outline: none;
}
button:disabled {
    pointer-events: none;
    opacity: 0.4;
}
.searchError {
  color: rgb(255, 255, 255); /* Ändra färgen här till vad du vill */
  font-weight: bold;
  font-size: 35px;
  margin-top: 10px;
}

@media (max-width: 600px){
  .searchError {
    font-size: 40px;
   font-style: italic;
   color: rgb(51, 255, 0);
  }
}